.home-grid{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100vw;
  height: 100vh;
  grid-gap: 1em 1em;
  padding: 1em;
}
.even {
    background-color: grey;
}
.odd {
    background-color: #afaaaa;
}
